div{
    background: rgb(5, 5, 4);
    width: 350px;
    height: 800px;
    margin: 100px;
    border:10px solid black
}

#red{
    border-color: rgb(255, 30, 0);
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
}
#green{
    border-color: rgb(70, 182, 42);
    background-color:rgb(70, 182, 42);
    width: 100px;
    height: 100px;
   

    border-radius: 50%;
    border-style: solid;
}
#yellow{
    border-color: yellow;
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
}